.card {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card__image {
  width: 94%;
  height: 85%;
  margin-top: 48px;
  transition: filter 0.3s ease;
  cursor: pointer;
}
.card__image:hover {
  filter: brightness(0.5);
}

.card__button {
  width: 289px;
  height: 48px;
  color: white;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  transition: filter 0.3s ease;
  position: relative;
}
.card__button:hover {
  filter: brightness(0.7);
}

.card__button-link {
  filter: none;
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 48px;
  text-align: center;
}

.card__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}
.card__artist {
  padding-top: 20%;
}

.card__artist__title {
  color: #aaaaaa;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 12%;
  text-transform: uppercase;
}

.card__artist__names {
  margin-top: 8px;
  font-size: 18px;
  line-height: 22px;
}

.card__paragraph {
  width: 98.7%;
  font-size: 18px;
  line-height: 163%;
  margin-top: 48px;
}
