.card {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card__image {
  width: 94%;
  height: 85%;
  margin-top: 48px;
  transition: filter 0.3s ease;
  cursor: pointer;
}
.card__image:hover {
  filter: brightness(0.5);
}

.card__button {
  width: 289px;
  height: 48px;
  color: white;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  transition: filter 0.3s ease;
  position: relative;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
}
.card__button:hover {
  filter: brightness(0.7);
}

.card__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}
.card__artist {
  padding-top: 20%;
}

.card__artist__title {
  color: #aaaaaa;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
}

.card__artist__names {
  margin-top: 8px;
  font-size: 18px;
  line-height: 22px;
}

.card__paragraph {
  width: 98.7%;
  font-size: 18px;
  line-height: 163%;
  margin-top: 48px;
}

@media screen and (max-width: 1024px) and (min-width: 640px) {
  .card__image {
    width: 94.2%;
    height: 340px;
  }
  .card__title {
    font-size: 42px;
    line-height: 46px;
  }
  .card__artist {
    padding-top: 0;
  }

  .card__paragraph {
    font-size: 16px;
    grid-row: span 2;
  }
}

@media screen and (max-width: 640px) and (min-width: 320px) {
  .card {
    grid-template-columns: 1fr;
  }
  .card__image {
    display: block;
    object-fit: cover;
    width: 318px;
    height: 318px;
    object-fit: cover;
    margin-top: 30px;
  }
  .card__title {
    font-size: 32px;
    line-height: 35px;
  }
  .card__artist {
    padding-top: 30px;
  }

  .card__paragraph {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Inter;
    font-size: 16px;
    grid-row: span 2;
  }
  .card__button {
    margin: auto;
  }
  .card__button-link {
    font-size: 14px;
  }
}
@media screen and (max-width: 340px) {
  .card__image {
    margin-left: calc((100% - 320px) / 2);
    margin-right: calc((100% - 320px) / 2);
  }
}
