.content {
  width: 986px;
  margin: 90px auto 24px auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) and (min-width: 504px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 88px auto 0 auto;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 504px) and (min-width: 320px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 88px auto 0 auto;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
}
