.footer {
  display: flex;
  justify-content: center;
  margin: 92px 0 24px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.footer__sign {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

@media screen and (max-width: 1024px) and (min-width: 504px) {
  .footer {
    margin: 88px 0 24px;
  }
}
