.footer {
  display: flex;
  justify-content: center;
  margin: 90px 0 24px;
  max-width: 100%;
}

.footer__sign {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

@media screen and (max-width: 1024px) and (min-width: 504px) {
  .footer {
    margin: 90px 0 25px;
  }
}

@media screen and (max-width: 504px) and (min-width: 320px) {
  .footer {
    margin: 65px 0 25px;
  }
}
