.gallery {
  width: 92.5%;
  height: auto;
  display: grid;
  margin: auto;
  margin-top: 118px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.gallery__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1024px) and (min-width: 504px) {
  .gallery {
    width: 100%;
    max-width: 100%;
    margin-top: 64px;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 504px) and (min-width: 320px) {
  .gallery {
    width: 100%;
    max-width: 100%;
    margin-top: 38px;

    grid-template-columns: repeat(1, 1fr);
  }
}
