.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
  width: 720px;
  height: auto;
}

.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  width: 720px;
  height: auto;
  margin-top: 32px;
  margin-bottom: 64px;
}

.lead__image {
  width: 986px;
  height: 615px;
  display: block;
  object-fit: cover;
  filter: grayscale(100%);
}

@media screen and (max-width: 1024px) and (min-width: 504px) {
  .lead {
    width: 93.75%;
    max-width: 93.75%;
  }

  .lead__title {
    font-size: 75px;
    line-height: 79px;
    width: 73.61%;
  }

  .lead__subtitle {
    width: 100%;
    margin: 25px 0 30px;
  }

  .lead__image {
    max-width: 106.67%;
    height: auto;
  }
  .lead,
  .lead__image,
  .lead__title,
  .lead__subtitle {
    box-sizing: border-box;
  }
}

@media screen and (max-width: 504px) and (min-width: 320px) {
  .lead {
    width: 90%;
    max-width: 90%;
  }

  .lead__title {
    font-size: 40px;
    line-height: 44px;
    width: 100%;
    height: auto;
  }

  .lead__subtitle {
    width: 100%;
    height: 40px;
    margin: 16px 0 40px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }

  .lead__image {
    max-width: 110%;
    height: auto;
  }
  .lead,
  .lead__image,
  .lead__title,
  .lead__subtitle {
    box-sizing: border-box;
  }
}
