.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
  width: 720px;
  height: auto;
  transition: transform 0.3s ease;
}
.lead__title:hover {
  transform: scale(1.02);
}
.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  width: 720px;
  height: auto;
  margin-top: 32px;
  margin-bottom: 64px;
  transition: transform 0.3s ease;
}

.lead__image {
  width: 986px;
  height: 615px;
  display: block;
  object-fit: cover;
  filter: grayscale(100%);
  transition: transform 0.3s ease;
}
.lead__image:hover {
  transform: scale(1.03);
}

@media screen and (max-width: 1024px) and (min-width: 504px) {
  .lead {
    max-width: 100%;
  }

  .lead__title {
    font-size: 75px;
    line-height: 79px;
    max-width: 73.61%;
  }

  .lead__subtitle {
    max-width: 100%;
    margin: 25px 0 30px;
  }

  .lead__image {
    max-width: 106.67%;
    height: auto;
  }
}

@media screen and (max-width: 504px) and (min-width: 320px) {
  .lead {
    max-width: 100%;
  }

  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 100%;
  }

  .lead__subtitle {
    max-width: 100%;
    margin: 16px 0 40px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }

  .lead__image {
    max-width: 110%;
    height: auto;
  }
}
