* {
  box-sizing: border-box;
}

.page {
  min-width: 1024px;
  max-width: 1600px;
  color: white;
  font-family: "Inter", "Arial", sans-serif;
  line-height: 1.6;
  margin: auto;
}
body {
  background-color: #2a2c2f;
}

@media screen and (max-width: 1024px) and (min-width: 504px) {
  .page {
    width: 100%;
    height: auto;
    min-width: auto;
    max-width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 504px) and (min-width: 320px) {
  .page {
    width: 100%;
    height: auto;
    min-width: auto;
    max-width: 100%;
    box-sizing: border-box;
  }
}
